<section>
    <img src="../../../assets/image/img/recipeBlog.png" alt="">
    <p class="etiqueta">#HTML #CSS #responsive</p>
    <h3>Recipe Blog</h3>
    <p>In this project, I work with HTML and CSS to create a responsive page. This page is similiar with instagram profile page. The design is from devchallenge.io</p>

<article>
    <a href="https://recipe-page4.netlify.app/" target="_blank">
      <button [ngClass]="{ 'active': selectedButton === 'Demo' }" (click)="cambiarColor('Demo')">Demo</button>
    </a>
    <a href="https://github.com/JulioCz36/Challenges/tree/main/4-%20P%C3%A1gina%20de%20recetas" target="_blank">
        <button [ngClass]="{ 'active': selectedButton === 'Code' }" (click)="cambiarColor('Code')">Code</button>
    </a>
</article>
  
   
</section>