<section>
    <img src="{{proyectData.linkImagen}}" alt="">
    <p class="etiqueta">{{proyectData.etiqueta}}</p>
    <h3>{{proyectData.title}}</h3>
    <p>{{proyectData.description}}</p>

<article>
    <a href="{{proyectData.linkDemo}}" target="_blank">
      <button [ngClass]="{ 'active': selectedButton === 'Demo' }" (click)="cambiarColor('Demo')">Demo</button>
    </a>
    <a href="{{proyectData.linkCode}}" target="_blank">
        <button [ngClass]="{ 'active': selectedButton === 'Code' }" (click)="cambiarColor('Code')">Code</button>
    </a>
</article>
</section>