body {
  padding-top: 70px;
}
/*Header*/
header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 70px;
}
h2 {
  font-family: PT Serif;
  font-size: 36px;
  font-weight: 700;
}
h3 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.description {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  width: 439px;
  height: 87px;
}

/*main*/
main {
  display: flex;
  justify-content: center;
}
.container {
  display: grid;
  grid-template-columns: 264px 264px 264px;
  grid-template-rows: 95.75px 95.75px 95.75px 95.75px 95.75px 95.75px 95.75px 95.75px 95.75px 95.75px;
  gap: 0px 50px;
  grid-auto-flow: row;
  grid-template-areas:
    "foto1 . foto3"
    "foto1 foto2 foto3"
    "foto1 foto2 foto3"
    "foto1 foto2 foto3"
    ". foto2 ."
    "foto4 . foto6"
    "foto4 foto5 foto6"
    "foto4 foto5 foto6"
    "foto4 foto5 foto6"
    ". foto5 .";
}

img {
  width: 238px;
  height: 341px;
}

.fotoy {
  position: absolute;
}
.foto1,
.foto2,
.foto3,
.foto4,
.foto5,
.foto6 {
  display: flex;
  align-items: flex-start;
}

.puesto {
  font-family: PT Serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  transform: rotate(90deg);
  white-space: nowrap;
  margin: 0;
  padding: 0;
  left: 205px;
  bottom: -40px;
  text-transform: uppercase;
  width: 100px;
  text-align: center;
}

h5 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}
.foto1 {
  grid-area: foto1;
}
.foto2 {
  grid-area: foto2;
}

.foto3 {
  grid-area: foto3;
}

.foto4 {
  grid-area: foto4;
}

.foto5 {
  grid-area: foto5;
}

.foto6 {
  grid-area: foto6;
}

/*footer*/
span {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  color: #a9a9a9;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

/* Estilos para pantallas pequeñas (móviles) */
@media screen and (max-width: 769px) {
  body {
    padding-top: 30px;
  }
  /*Header*/
  header {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
  }
  .description {
    width: 333px;
    height: 87px;
  }

  /*main*/
  img {
    width: 138.72px;
    height: 209px;
  }
  .container {
    display: grid;
    grid-template-columns: 156px 156px;
    grid-template-rows: 59.25px 59.25px 59.25px 59.25px 59.25px 59.25px 59.25px 59.25px 59.25px 59.25px 59.25px 59.25px 59.25px 59.25px 59.25px;
    gap: 0px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "foto1 ."
      "foto1 foto2"
      "foto1 foto2"
      "foto1 foto2"
      ". foto2"
      "foto3 ."
      "foto3 foto4"
      "foto3 foto4"
      "foto3 foto4"
      ". foto4"
      "foto5 ."
      "foto5 foto6"
      "foto5 foto6"
      "foto5 foto6"
      ". foto6";
  }

  .puesto {
    font-size: 10px;
    white-space: nowrap;
    left: 99px;
    bottom: -40px;
  }

  h5 {
    font-size: 14px;
    margin-top: 5px;
  }
}
