<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<section>
    <img src="../../../assets/image/perfil/1442809583.webp" alt="">
    <article>
        <div class="info">
            <div>
                <h5>Julio Rodriguez</h5>
                <p>Front-end developer</p>
            </div>
            <div>
                <div class="contact">
                    <span class="material-symbols-outlined">
                        mail
                    </span>
                    <p>juliorodriguezc086&#64;gmail.com</p>
                </div>
                <div class="contact">
                    <span class="material-symbols-outlined">
                        call
                    </span>
                    <p>(+54) 9 3425682481</p>
                </div>
            </div>
        </div>
        <p>
        Self-motivated developer, who is willing to learn and create outstanding UI applications.
        </p>
    </article>
</section>