@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

section{
    width:1046px;
    height:311px;
    box-shadow: 0px 4px 32px 0px #0000001F;
    display: flex;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    gap: 20px;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
img{
    width: 271.86px;
    height: 266.14px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact{
    display: flex;
    gap: 10px;
}
h5{
color:#4F4F4F;
font-size: 24px;
font-weight: 600;
line-height: 29px;
}
.contact p{
color:#4F4F4F;
}
p{
color:#828282;
font-size: 18px;
font-weight: 500;
line-height: 22px;
}

/* Estilos para pantallas pequeñas (móviles) */
@media screen and (max-width: 769px) {
    section{
        width:395px;
        height:662px;
        padding: 20px;
        gap: 20px;
        flex-direction: column;
    }
    article{
    justify-content: space-around;
    gap: 10px;
    }
    img{
        width: 351px;
        height: 343px;
    }
    .info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
/* Estilos para pantallas medianas (tablets) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    
  }
  